In [1]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
X = titanic[['sex','age','fare','class','embark_town','alone']]
Y = titanic['survived']
X.shape

(891, 6)

In [2]:
print("Sex: " + str(X['sex'].isnull().sum()))
print("Age: " + str(X['age'].isnull().sum()))
print("Fare: " + str(X['fare'].isnull().sum()))
print("Class: " + str(X['class'].isnull().sum()))
print("Embark town: " + str(X['embark_town'].isnull().sum()))
print("Alone: " + str(X['alone'].isnull().sum()))

Sex: 0
Age: 177
Fare: 0
Class: 0
Embark town: 2
Alone: 0

In [3]:
#Age: missing values
mean = X['age'].mean()
mean = mean.round()
X['age'].fillna(mean,inplace = True)

/home/xps/Desktop/VirtualEnvs/data_analytics/lib/python3.6/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [4]:
# Embark_town: missing values
X = X[X['embark_town'].notnull()]
X.shape

(889, 6)

In [5]:
# The code below checks for outliers for numeric features
feature = "age"
print("Min threshold: " + str(X[feature].mean() - (3 * X[feature].std())),"  Min val: " + str(X[feature].min()))
print("Max threshold: " + str(X[feature].mean() + (3 * X[feature].std())),"  Max val: " + str(X[feature].max()))

Min threshold: -9.194052030619016   Min val: 0.42
Max threshold: 68.62075619259876   Max val: 80.0

In [6]:
# Age: outliers
max_age = X["age"].mean() + (3 * X["age"].std())
X = X[X["age"] <= max_age]
X.shape

(882, 6)

In [7]:
# Fare: outliers
max_fare = X["fare"].mean() + (3 * X["fare"].std())
X = X[X["fare"] <= max_fare]
X.shape

(862, 6)

In [8]:
# The code below counts the ocurrence of each class of a text feature
feature = "alone"
X[feature].value_counts()

True     522
False    340
Name: alone, dtype: int64

In [9]:
# Converting text into numeric values
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X["sex"] = enc.fit_transform(X['sex'].astype('str'))
X["class"] = enc.fit_transform(X['class'].astype('str'))
X["embark_town"] = enc.fit_transform(X['embark_town'].astype('str'))
X["alone"] = enc.fit_transform(X['alone'].astype('str'))

In [10]:
X.head()

   sex   age     fare  class  embark_town  alone
0    1  22.0   7.2500      2            2      0
1    0  38.0  71.2833      0            0      0
2    0  26.0   7.9250      2            2      1
3    0  35.0  53.1000      0            2      0
4    1  35.0   8.0500      2            2      1

In [11]:
# Normalization
X["age"] = (X["age"] - X["age"].min())/(X["age"].max()-X["age"].min())
X["fare"] = (X["fare"] - X["fare"].min())/(X["fare"].max()-X["fare"].min())
X["class"] = (X["class"] - X["class"].min())/(X["class"].max()-X["class"].min())
X["embark_town"] = (X["embark_town"] - X["embark_town"].min())/(X["embark_town"].max()-X["embark_town"].min())
X.head(10)

   sex       age      fare  class  embark_town  alone
0    1  0.329064  0.043975    1.0          1.0      0
1    0  0.573041  0.432369    0.0          0.0      0
2    0  0.390058  0.048069    1.0          1.0      1
3    0  0.527295  0.322078    0.0          1.0      0
4    1  0.527295  0.048827    1.0          1.0      1
5    1  0.451052  0.051304    1.0          0.5      1
6    1  0.817017  0.314572    0.0          1.0      1
7    1  0.024093  0.127831    1.0          1.0      0
8    0  0.405306  0.067529    1.0          1.0      0
9    0  0.207075  0.182395    0.5          0.0      0